{{ define "main" }}
<main class="center mv4 content-width ph3">
  {{ partial "article-header" . }}
  <div class="lh-copy post-content">{{ .Content }}</div>
</main>
{{ partial "table-of-contents" . }}


<div class="pagination tc tr-l db fixed-l bottom-2-l right-2-l mb3 mb0-l">
  {{ partial "back-to-top.html" . }}<br>
  <p class="mb0 mt2">
  {{ with .PrevInSection }}{{ if . }}<a href="{{ .Permalink }}">prev post</a>{{ end }}{{ end }}
  {{ with .NextInSection }}{{ if . }}<a href="{{ .Permalink }}">next post</a>{{ end }}{{ end }}
  </p>
</div>
{{ end }}
