<nav class="flex mh4 justify-between" id="navbar">
  <a class="grow dim f4 fa fa-home no-underline" href="{{ .Site.BaseURL }}">
    Home
  </a>

  <p class="pl4 f4">|</p>

  {{ range .Site.Menus.main }}
  <a class="dim ml4 f4 no-underline link" href="{{.URL}}" title="{{.Title}}">
    {{ .Name }}
  </a>
  {{ end }}

  <div class="ml-auto">
    <ul class="dib 43 icons">
      {{ partial "social.html" . }}
    </ul>
    <a class="dib grow pl4 pr2 f4 fa fa-search no-underline" href="/search"></a>
  </div>

</nav>
