<nav class="flex justify-between border-box pa3 pl3 pr2 mt1 bg-black-60" id="navbar">

    <div class="fa fa-home pt1 fa-lg white-90">
        <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90">Home</a>
    </div>

    <div class="pv1">
      {{ range .Site.Menus.main }}
        <a class="link dim white-90 f5 fw4 mr2 mr3-l ttu tracked" href='{{.URL}}' title="{{ .Name }}">
            {{ .Name }}
        </a>
      {{ end }}
        <ul class="icons">
          {{ partial "social" . }}
        </ul>
    </div>
</nav>
