{{ define "main" }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections) }}

{{ partial "nav.html" . }}
<main class="cover bg-top" id="main" style="background-image: url('{{ $.Site.Params.coverImageHome }}');">
  <div class="pb5 bg-black-60">
    <div class="tc pv6 ph3">
      <h1 class="f1 fw2 white-90 lh-title">{{ .Title | default .Site.Title }}</h1>
      {{ with .Site.Params.description  }}
        <h2 class="f3 fw1 white-80 measure-wide-l center lh-copy mt3 mb4">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</main>

<main class="center mv4 content-width ph3">
  <ul class="list pa0">
    {{ range $paginator.Pages }}
    <li class="mb2">
      <a class="f4 heading-color heading-font fw6 no-underline" href="{{ .Permalink }}">{{ .Title }}</a>
      <p class="f5 mt1 silver">
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
        {{ if or .Params.tags .Params.categories }} | {{ end }}
        {{ if isset .Params "categories" }}
        categories: [ {{ range .Params.categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
        {{ if isset .Params "tags" }}
        tags: [ {{ range .Params.tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }} ]
        {{ end }}
      </p>
    </li>
    {{ end }}
  </ul>
</main>
{{ partial "tag_cloud.html" . }}
{{ partial "pagination.html" . }}
{{ end }}
